// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

a {
    color: #0a80f1;
    font-family: "Open Sans";
    font-size: 14px;
    font-weight: 600;
}


input[type=text].fulltext-search__input {
    width: 100%;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #cfcece;
    box-shadow: none;
}

.fulltext-search__button {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 8px;
    right: 15px;
    background-image: url("/images/search_mag.svg");
    background-color: transparent;
    background-position: center;
    border: none;
    background-repeat: no-repeat;
}



footer {
    background-color: #dfdfdf;

    display: block;

}


.footer__heading {
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
    line-height: 2.5rem;
    color: #545454;
}

.footer__section {
    padding-bottom: 20px;
}


.footer__column ul {
    list-style: none;
    padding-left: 0;
    font-size: 0;
}

.footer__column li {
    height: 22px;
}

.footer__section ul li a {
    text-decoration: none;
}


.footer__column {
    font-family: "Open Sans", Arial;
    font-size: 13px;
    font-size: 1.3rem;
    font-weight: 400;
    padding-top: 30px;
}
.footer__column p {
    margin-bottom: 3px;
}
.footer__column ul {
    list-style: none;
    padding-left: 0px;
}
.footer__section {
    padding-bottom: 20px;
}
.footer__section a {
    color: #545454;
    line-height: 25px;
    line-height: 2.5rem;
    font-weight: 400;
}
.footer__section a:hover {
    color: #0a80f1;
    line-height: 25px;
    line-height: 2.5rem;
    font-weight: 400;
}

.footer__section p {
    font-size: 13px;
}

.footer__section.important-footer-section .footer__heading {
    color: #0a80f1;
}

.footer__section.important-footer-section a {
    color: #0a80f1;
    text-decoration: underline;
    line-height: 25px;
}

.footer__heading {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 25px;
    line-height: 2.5rem;
    color: #545454;
}
